:root {
  --bg-primary: #171717;
  --bg-secondary: #212121;
  --bg-tertiary: #2e2e2e;
  --text-primary: #e2e2e2;
  --text-secondary: #999999;
  --accent: #5e9eff;
  --accent-hover: #4e8eef;
  --border-color: #363636;
  --danger: #ff5555;
  --success: #55cc55;
  --warning: #eebb44;
}
